@import url('../styles/index.css');

body {
  display: flex;
  flex-direction: column;
}

#container {
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem);
  margin: 1rem;

  display: flex;
  flex-direction: column;
}

#input,
#output {
  flex: 2;
  border-radius: 4px;
  border: 1px solid var(--color-highlight);
  background-color: transparent;
  color: var(--color-text);
  padding: 1rem;
}

#output {
  flex: 1;
}

#divider {
  margin: 1rem 0;
}

#memory-cells {
  flex: 2;
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  overflow-y: auto;
  padding: 1px;
}
